<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | NFT preview card component</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <main>
    <article>
      <div>
        <img src="/images/image-equilibrium.jpg" alt="mainCard-Image">
      </div>
      <h2>Equilibrium #3429</h2>
      <p>Our Equilibrium collection promotes balance and calm.</p>
      <section>
        <div>
          <img src="/images/icon-ethereum.svg" alt="Ehtereum">
          <h3>0.041 ETH</h3>
        </div>
        <div>
          <img src="/images/icon-clock.svg" alt="Clock">
          <h3>3 days left</h3>
        </div>
      </section>
      <section>
        <img src="/images/image-avatar.png" alt="ProfilePicture">
        <div>
          <p>Creation of</p><a href="#">Jules Wyvern</a>
        </div>
      </section>
    </article>
  </main>

  <div class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Jaime Andres Artunduaga</a>.
  </div>
</body>

</html>