<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <!-- displays site properly based on user's device -->

  <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

  <title>Frontend Mentor | NFT preview card component</title>

  <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
  <style>
    .attribution {
      font-size: 11px;
      text-align: center;
      font-family: 'Outfit', sans-serif;
      color: white;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
  </style>
</head>

<body>
  <main>
    <article>
      <div class="main-img-container">
        <img class="main-img" src="/images/image-equilibrium.jpg" alt="mainCard-Image">
        <div class="image_overlay-container">
          <img class="eye" src="/images/icon-view.svg" alt="eye">
        </div>  
      </div>
      <h1>Equilibrium #3429</h1>
      <p class="outside-text">Our Equilibrium collection promotes balance and calm.</p>
      <section class="main-info-container">
        <div class="logo-text-container-left">
          <img src="/images/icon-ethereum.svg" alt="Ehtereum">
          <h2 class="cyan-text">0.041 ETH</h2>
        </div>
        <div class="logo-text-container-right">
          <img src="/images/icon-clock.svg" alt="Clock">
          <h2 class="timeLeft">3 days left</h2>
        </div>
      </section>
      <section class="bottom-info-container">
        <img src="/images/image-avatar.png" alt="ProfilePicture">
        <div class="last-info-container">
          <p>Creation of</p><a href="#">Jules Wyvern</a>
        </div>
      </section>
    </article>
  </main>

  <footer class="attribution">
    Challenge by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>.
    Coded by <a href="#">Jaime Andres Artunduaga</a>.
  </footer>
</body>

</html>